@import url('https://fonts.googleapis.com/css?family=Roboto&subset=latin-ext');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Arial', sans-serif;
    letter-spacing: 2px;
}

body {
    height: 300vh;
}

/* HEADER  */

header {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

header .background {
    width: 100%;
    height: 100%;
    animation: background 10s linear infinite;
}

.wrapper {
    transition: 0.5s linear;
}

@keyframes background {
    0% {
        transform: scale(1);
        opacity: 0;
    }

    2% {
        opacity: 0.3;
    }

    13% {
        opacity: 1;
    }

    87% {
        opacity: 1;
    }

    98% {
        opacity: 0.3;
    }

    100% {
        transform: scale(1.05);
        opacity: 0;
    }
}

.top {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: #233D4D;
    z-index: 3;
    border-bottom: 1px solid rgba(245, 245, 220, 0.2);
}

.burger {
    position: absolute;
    right: 5%;
    line-height: 100px;
    color: #FE7F2D;
    z-index: 2;
    font-size: 35px;
}

.burger:hover {
    cursor: pointer;
}

.burger .fas,
.burger .far {
    display: none;
}

.burger .show {
    display: inline-block;
}

.topArrow{
    position: fixed;
    bottom: 5%;
    right: 5%;
    font-size: 35px;
    color: #FE7F2D;
    z-index: 5;
    transform: rotate(-90deg);
    display: none;
}

.name {
    position: absolute;
    left: 5%;
    line-height: 100px;
    color: #FE7F2D;
    font-size: 25px;
    text-transform: uppercase;
}

nav {
    position: fixed;
    top: -120px;
    left: 0;
    width: 100%;
    background-color: #233D4D;
    z-index: 2;
    border-bottom: 1px solid rgba(245, 245, 220, 0.2);
    transition: 0.5s linear;
}

nav.show {
    top: 100px;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 100%;
    padding: 20px;
}

li {
    flex-basis: 25%;
    text-align: center;
    padding: 10px;
}

a {
    display: inline-block;
    text-decoration: none;
    line-height: 100%;
    font-size: 20px;
    color: white;
    border-bottom: 2px solid #233D4D;
    padding-bottom: 3px;

    transition: 0.5s;
}

a:hover {
    border-bottom: 2px solid #FE7F2D;
    color: #FE7F2D;
    transform: scale(1.1)
}

@media (min-width: 1024px) {

    .wrapper.show {
        padding-left: 300px;
    }

    .top {
        height: 100%;
        left: -300px;
        width: 300px;
        border-right: 1px solid rgba(245, 245, 220, 0.2);
        transition: 0.5s linear;
    }

    .top.show {
        left: 0;
        z-index: 1;
    }

    .name {
        width: 100%;
        left: 0;
        text-align: center;
    }

    .burger {
        position: absolute;
        top: 75%;
        left: 300px;
        z-index: 10;
    }

    nav {
        top: 100px;
        left: -300px;
        height: 100%;
        width: 300px;
        border-right: 1px solid rgba(245, 245, 220, 0.2);
    }

    nav.show {
        left: 0px;
    }

    li {
        flex-basis: 5%;
        text-align: center;
        padding: 10px;
    }

    .welcome h2 {
        animation: typing 10s steps(80) infinite,
            blinking 0.75s infinite;
    }
}

header>* {
    position: absolute;
    height: 100vh;
    width: 100vw'

}

header img.small {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 240px;
    height: 240px;
    background-color: rgb(136, 148, 124);
    border-radius: 50%;
    z-index: 1;
    border: 6px solid beige;
}

.welcome {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(35, 61, 77, .7);
    width: 100%;
    color: white;
    text-align: center;
}

.welcome span {
    color: #FE7F2D;
}

.welcome h1,
.welcome h2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome h1 {
    width: 100%;
    top: 60%;
    font-size: 65px;
    font-weight: bold;
    text-transform: uppercase;
}

.welcome h2 {
    top: 68%;
    max-width: 450px;
    font-size: 35px;
    font-weight: inherit;
    overflow: hidden;
    letter-spacing: 3px;
    border-right: 3px solid transparent;
    white-space: nowrap;
    animation: typing 10s steps(60, end) infinite,
        blinking 0.75s infinite;
}

@keyframes typing {
    0% {
        width: 0
    }

    75% {
        width: 100%
    }

    100% {
        width: 0
    }
}

@keyframes blinking {
    0% {
        border-color: transparent
    }

    50% {
        border-color: #FE7F2D;
    }
}


/* ABOUT */

section.about {
    position: relative;
    height: 800px;
    width: 100%;
    overflow: hidden;
}

section.about h1,
section.about h2,
section.about h3 {
    position: absolute;
    top: 100px;
    left: 0;
    /* width: 100%; */
    font-size: 60px;
    letter-spacing: 4px;
    padding: 10px 20px;
    margin: 10px 0 10px 50px;
    border-left: 5px solid #FE7F2D;
    text-transform: uppercase;
}

section.about h2 {
    top: 150px;
    margin-top: 15px; 
    font-size: 20px;
    padding-top: 40px;
    font-weight: inherit;
    letter-spacing: 0;
    text-transform: none;
}

section.about h3 {
    top: 350px;
    border: none;
    font-size: 28px;
    font-weight: inherit;
    text-transform: none;
    padding: 0;
    width: 100%;

}

section.about h3 span {
    word-wrap: break-word;
    color: #FE7F2D;
    opacity: 0;
    animation: background 10s linear infinite;

}

section.about p {
    position: absolute;
    text-align: justify;
    top: 400px;
    margin: 10px 50px 10px 50px ;
    font-size: 16px;
    line-height: 32px;
    /* padding: 10px; */
}

section.about p span{
    
    color: #FE7F2D;
}

section.about img{
    display: none;
}

@media (min-width: 1024px){
    .column{
        position: relative;
        width:  60%;
    }

    section.about h3{
        white-space: nowrap;
    }

    section.about img.grey{
        display: block;
        position: absolute;
        right: 10%;
        top: 15%;
        transform: translate(10%, -10%) scale(1);
        animation: gray 10s linear infinite;
        overflow: hidden;
        z-index: -2;
    }

    section.about img.color{
        display: block;
        
        height: 35%;
        position: absolute;
        right: 5%;
        top: 60%;
        transform: translate(10%, -10%) scale(1);
        animation: color 10s linear infinite;
        overflow: hidden;
        z-index: -1;
    }
}

@keyframes gray {
    0% {
        transform: translate(0) scale(1);
        opacity: 0;
    }

    8% {
        opacity: 0;
    }

    13% {
        opacity: 0.2;
    }

    87% {
        opacity: 0.2;
    }

    92% {
        opacity: 0;
    }

    100% {
        transform: translate(1.1) scale(1.5);
        opacity: 0;
    }
}

@keyframes color {
    0% {
        transform: translateX(0);
        opacity: 0;
    }

    8% {
        opacity: 0;
    }

    13% {
        opacity: 1;
    }

    87% {
        opacity: 1;
    }

    92% {
        opacity: 0;
    }

    100% {
        transform: translateX(-10%);
        opacity: 0;
    }
}